.element {
    all: revert;
}

* {
    margin: 0;
    padding: 0;
}

div {
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}


/* default remove properties end here */


/* Text styling */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Nunito", sans-serif;
}

.text-green-100 {
    color: #0e6251;
}

.text-green-75 {
    color: #48c9b0;
}

.text-green-25 {
    color: #a3e4d7;
}

.text-white {
    color: #f4f6f7;
}

.text-black-100 {
    color: #17202a;
}


.text-black-75 {
    color: #2c3e50;
}

.text-black-25 {
    color: #abb2b9;
}

.bg-green-100 {
    background-color: #0e6251;
}

.bg-green-75 {
    background-color: #a6dbd1;
}


/* .bg-white {
  background-color: #f4f6f7;
} */

ul li {
    display: inline;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-right {
    flex: 30%;
    margin-left: auto;
    order: 2;
}

.flex-item-left {
    flex: 50%;
}

.float_right {}

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.m-2 {
    margin: 4px;
}

.mt-5 {
    margin-top: 10px;
}

.ml-2 {
    margin-left: 4px;
}

.mr-2 {
    margin-right: 4px;
}

.p-1 {
    padding: 2px;
}

.p-2 {
    padding: 4px;
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #0e6251;
    /* Green */
    color: white;
}

.btn-green-75 {
    background-color: #a6dbd1;
    padding: 4px 4px;
    border-radius: 8px;
    border: 2px solid #f4f6f7;
}

.btn-black-75 {
    background-color: #17202a;
    padding: 4px 4px;
    border-radius: 8px;
    border: 2px solid #f4f6f7;
}

.aboutus{
    width:100%;
    height:190px;
    border:2px solid rgb(230, 13, 103);
    border-radius: 5px 10px 5px 10px;
    margin-bottom: 7px;
}

.aboutbox1{
    width:50%;
    color: aquamarine;
    float:left;
    
}
.aboutbox1 p {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.aboutbox1 em{
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.abouttxt{
    width:50%;
    float:right;
}
.about2page{
    display:flex;
}
.nav-abt{
    width:14rem;
    overflow:hidden;
    border-radius:8px ;
    padding:1rem 1rem;
    box-shadow: 10px 10px 15px #7c7c7c2e, -10px -10px 15px #fff;
    transition: box-shadow  0.6s;
    margin:1rem 1rem;
    border: 2px solid red;
    background-color: #0e6251;
}
.ring{
    height: 150px;
    width:50%;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    background: #bababa4f;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 10px 10px 15px #7c7c7c2e, -10px -10px 15px #fff;
    
}
.ring-image{
    height:calc(100%-25px);
    width:calc(100%-25px);
    border-radius:50%;
}
img{
    height:100%;
    border-radius: 50%;
    width:100%;
}
.details-text{
    display:flex;
    align-items:center;
    justify-content: column;
    flex-direction: column;
    margin-bottom: 10px;
}

.action{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.inbtn{
    margin:8px;
    padding:12px 1.5rem;
    display:flex;
    border:none;
    font-weight:500;
    cursor:pointer;
    box-shadow:10px 10px 15px green, -10px -10p 15px rgb(255, 255, 255);
    font-size:1rem;
   
}
.inbtn:focus{
    box-shadow:inset 5px 5px 5px #c7c4c4, inset -5px -5px 5px #fff ;
}


/* Bottom Box Css Code  Starts*/

.bottombox{
    border-radius: 2px 4px 2px 4px;
    border: 2px solid green ;
    height:50vh;
    width:100%;
    background-color: lightgreen;
    display: inline-flex;
}
.bottombox1{
    width:33%;
    height:50vh;
    background-color: :#a3e4d7;
    border: 2px solid green;
}
.bottombox2{
    width:34%;
    height:50vh;
    background-color: :#a3e4d7;
    border: 2px solid green;
}
.bottombox3{
    width:33%;
    height:50vh;
    background-color: :#a3e4d7;
    border: 2px solid green;
}



/* Bottom Box Css Code Ends  */
@media only screen and  (max-width:440px){
    .nav-abt{
        width:100%;
        margin-right: 3px;
        border:2px solid red;
    }
    .about2page{
        display: list-item;
    }

}

