/* default remove properties start here */
.element {
  all: revert;
}
* {
  margin: 0;
  padding: 0;
}
div {
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
/* default remove properties end here */
/* Text styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}

.text-green-100 {
  color: #0e6251;
}
.text-green-75 {
  color: #48c9b0;
}
.text-green-25 {
  color: #a3e4d7;
}

.text-white {
  color: #f4f6f7;
}

.text-black-100 {
  color: #17202a;
}
.text-black-75 {
  color: #2c3e50;
}
.text-black-25 {
  color: #abb2b9;
}
.bg-green-100 {
  background-color: #0e6251;
}
.bg-green-75 {
  background-color: #48c9b0;
}

/* .bg-white {
  background-color: #f4f6f7;
} */

ul li {
  display: inline;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-right {
  flex: 30%;
  margin-left: auto;
  order: 2;
}

.flex-item-left {
  flex: 50%;
}
.float_right {
}

.center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.m-2 {
  margin: 4px;
}
.p-1 {
  padding: 2px;
}
.p-2 {
  padding: 4px;
}

a:hover {
  background-color: #f4f6f7;
}
